/* style the header at the top of the page */
.header{
  background-color:rgb(1,4,9);
  border-bottom: 1px solid rgb(48,54,61);
  height:2.5rem;
  width:100vw;
  text-align:center;
  padding-top:0.5rem;
}

/* style the title inside of the header */
.title{
  font-size:25px;
  color: rgb(197, 208, 223);
}

/* set the position of the main content of the page */
.calculator{
  padding-left:1rem;
  padding-right:1rem;
  padding-bottom:1rem;
  /* responsive height to content */
  height: fit-content;
  width:50%;
  margin-left:25%;
  margin-right:25%;
  margin-top:1%;
  border: 1px solid rgb(48,54,61);
  border-radius: 10px;
}

/* style body */
body{
  background-color: rgb(13,17,23);
  width:100%;
  min-height:100vh;
  margin:0;
}

/* style all text */
p,label,h1,h2,h3,h4,ul,li{
  display: inline;
  color: rgb(168, 178, 190);
  font-family: "Noto Sans", sans-serif;
  user-select: none;
}

/* reduce margins for headers */
:is(h1,h2,h3,h4){
  margin-top:10px;
  margin-bottom:10px;
}

/* style the navigation buttons */
button{
  cursor:pointer;
  padding-top:0.25rem;
  padding-bottom:0.25rem;
  font-family: "Noto Sans", sans-serif;  
  border: 1px solid rgb(48,54,61);
  border-radius: 5px;
  width:10rem;
  color: rgb(191, 202, 216);
  background-color:rgb(33,38,45);
  user-select: none;
  transition: background-color 0.15s;
}

button:hover{
  background-color:rgb(43,48,55);
}

/* grid display for the buttons */
.button-row{
  margin-top:0.75rem;
  width: 100%;
  display:grid;
  grid-template-columns: 10rem 10rem 10rem;
  justify-content: space-between;
}

/* set size for the page content */
.page{
  width:100%;
  height:92.5%;
}

/* styling for the age slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* styling for the age slider knob */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(71, 154, 255);
  cursor: pointer;
}

/* styling for the radio buttons */
.rb-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default radio button */
.rb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* on mouse-over, add a grey background color */
.rb-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* when the radio button is checked, add a blue background */
.rb-container input:checked ~ .checkmark {
  background-color: rgb(61, 132, 219);
}

/* create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show the indicator (dot/circle) when checked */
.rb-container input:checked ~ .checkmark:after {
  display: block;
}

/* style the indicator (dot/circle) */
.rb-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* color styling of dropdown box */
:root {
  --radius: 2em;
  --baseFg: dimgray;
  --baseBg: white;
  --accentFg: #006fc2;
  --accentBg: #bae1ff;
}

/* custom styling of dropdown box */
select {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
}

/* custom styling of dropdown box on hover */
select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}

/* custom styling of dropdown box on select */
select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);
}